@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
body{
    /* background-color: black; */
    color: white;
    overflow: hidden;
}

.left{
    width: 25vw;
    padding: 10px 3px 10px 3px;
    background-color: black;
}

.right{
    width: 75vw;
    margin: 10px 4px;
    position: relative;
    background-color: black;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 25px;
    list-style: none;
    padding-top: 15px;
    font-size: 16px; 
}

.library ul li{
    gap: 15px;
    width: 25px;
    list-style: none;
    padding: 15px 0  25px 0;
    font-size: 16px; 
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.753); 
}

.header > *{
    padding: 11px;
}


.spotifyPalylist{
    padding: 16px 16px 16px 16px;
    font-size: 14px;
}

.cardContainer{
    display: flex;  
    /* justify-content: space-between; */
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 20px 0px 20px;
    overflow-y: auto;
    max-height: 76vh;
}

.card{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1a1a1a;
    position: relative;
    transition: all 0.5 ease;
}

.card:hover{
    background-color: #242424;
    
}

.card:hover .play{
    opacity: 1;
    top: 130px;
}

.card h2{
    font-size: 17px;
}

.card p{
    font-size: 12px;  
}

.card > *{
    padding-top: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 160px;
    right: 20px;
    opacity: 0;
    transition: all .6s ease-out;
}

.buttons > *{
    margin: 0 12px;
}

.Arrow{
    background-color: #050505;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5vw;
}

.hamburger{
    display: none;
    height: 34px;
    width: 34px;
}

.close img{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 279px;
    top: 12px;
    display: none;
}

.close p{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 311px;
    top: 16px;
    display: none;
}

.Loginbtn{
    border: none;
    color: #c9c9c9;
    font-size: 16px;
    background-color: #1b1b1b;
    cursor: pointer;
}

.Loginbtn:hover{
    color: white;
    font-size: 16.5px;
}

.Signinbtn{
    background-color: white;
    font-size: 16px;
    color: rgb(94, 94, 94);
    border: none;
    width: 87px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.Signinbtn:hover{
    width: 88px;
    font-size: 16.2px;
    color: black;
}

.playbar{
    position: absolute;
    bottom: 5px;
    width: 69vw;
    background-color: #000000ec;
    padding: 12px;
    height: 39px;
    border-radius: 25px;
}

.songButtons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songButtons > *{
    cursor: pointer;
    color: #c9c9c9;
}

.songList{
    height: 62.8vh;
    width: 100%;
    flex-wrap: wrap;
    overflow: scroll;
    /* overflow-y: scroll; */
}

.info div{
    word-break: break-all;
}

.infoName,.Like_song_Infoname{
    color: #c9c9c9;  
    overflow-x: hidden;
    white-space: nowrap;
    width: 10vw;
    scrollbar-width: none; 
    position: relative;
    justify-self: start;
}

.InfoName::-webkit-scrollbar {
    display: none;
}

/* for liked songs */


.songList ul li{
    width: 87%;
    gap: 10px;
    list-style: none;
    padding: 12px 0px;
    display: flex;   
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    margin: 9px 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    
}

.playNow span{
    font-size: 12px;
    font-weight: 300;
}

.seekBar{
    display: flex;
    background-color: rgba(121, 119, 119, 0.979);
    height: 3px;
    width: 100%;
    margin: 7px 0;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.likeButton{
    cursor: pointer;
    margin:0 5px 0 0;
}

.animate{
    animation: scaleUpDown 0.25s ease;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.volume{
    width: 7vw;
    height: 3px;
    align-self: center;
    margin:0 0 0 4px;
}

.volumeBar{
    display: flex;
    justify-content: flex-end;
    width: 33%;
}

.outerSeekBar{
    width: 50%;
}

.blowBar{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: aliceblue;
    position: relative;
    bottom: 5px;
    left: 0px;
    transition: left .1s ease;  
    visibility: hidden;
}

.innerbar{
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 60px;
    transition: left .5s ease; 
    position: relative; 
    z-index: 1;
}

.seekBar:hover .circle{
    visibility: visible;
}

.seekBar:hover .innerbar{
    visibility: visible;
    background-color: green;
    z-index: -1;
}

.songInfo{
    color: #c9c9c9;  
    overflow-x: hidden;
    white-space: nowrap;
    width: 33%;
    scrollbar-width: none; 
    position: relative;
    justify-self: start;
}

.songInfo::-webkit-scrollbar {
    display: none;
}

.aboveBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.songButtons{
    justify-self: center;
    text-align: center;
    width: 33%;
}

.songTime{
    position: relative;
    left: 15.5px;
    justify-self: end;
    background-color: #000000ec;
    z-index: 1;
    padding-right: 4px;
}

@media screen and (max-width:1200px){
    .left{
        position: absolute;
        z-index: 2;
        left: -120%;
        transition: all .5s ease-in;
        background-color: red;
        width: 355px;   
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 92vw;
        
    }
    .playNow span{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .close img{
        display: inline;
    }
    .close p{
        display: inline;
    }
    .infoName{
        width: 200px;
    }
    /* .songInfo{
        width: 25vw;
    } */
}

@media screen and (max-width:435px){
    .playbar{
        width: 85vw;
        bottom: 40px;
    }
    .cardContainer{
        height: 75vh;
        margin: 10px 0px 0px 10px;
        justify-content: space-between;
    }
    .left{
        max-height:98%;
    }
    .library{
        height: 80vh;
    }
    .spotifyPalylist{
        padding: 10px 10px 10px 2px;
    }
    .spotifyPalylist h1{
        font-size: 3vh;
    }
    .spotifyPalylist .card{
        width: 34vw;
        margin: 6.5px;
    }
    .info{
        width: 400px;
    }
    .infoName{
        width: 200px;
    }
    .volume,.volImage{
        display: none;
    }
}